#container-principal, #container-depoimentos, footer, a{
    background-color: #212529;
    color: white;
}

.img-carousel{
    width: 250px;
    border: 2px solid white;    
}

.map {
    height: 400px;
    width: 100%;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: url('../img/E-COMMERCE.gif') no-repeat center center;
    background-color: white;
}
.mask{
    cursor: auto;
    background-color: rgba(251, 251, 251, 0.2);
}
.rodape {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
