body
{
    background-size:cover;
    text-align:center;
    align-items: center;
}
h1
{
    background-color: yellow;
    font-size: 30px;
    font-weight:bolder;
    color: black;
    border-width: medium;
}
h1:hover
{
    color:red;
    font-style:italic ;
    text-decoration:underline;
}