<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a1b49a6b9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/s.png" type="image/x-icon">
    <title>Home</title>
</head>

<body>
    <div id="loader" class="loader"></div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SerratecMkt.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="index.html">Ferramenta</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link fw-bold" href="quemsomos.html">Quem Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="contato.html">Contato</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <section>
            <div id="container-principal" class="row">
                <div class="my-5 d-flex flex-wrap align-items-center justify-content-center">
                    <div class="col-lg-6 col-sm-12">
                        <h1 class="text-center">Conheça a melhor opção para realizar os seus orçamentos de compras.</h1>
                        <div class="d-grid col-6 gap-2 mx-auto mt-3">
                           <a  class="btn btn-light fw-bold" href="index.html">Começar</a> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8">
                        <figure>
                            <img src="../img/undraw_Calculator_0evy.svg" alt="Calculadora de orçamentos"
                                class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <h2 class="text-center my-5">VANTAGENS</h2>
                <div class="col-12 d-flex justify-content-center flex-wrap mb-5">
                    <div class="card col-lg-3 col-sm-6 mx-2 my-2">
                        <i class="fas fa-shopping-cart fa-6x text-center mt-5"></i>
                        <div class="card-body">
                            <h5 class="card-title">Planejamento</h5>
                            <p class="card-text">Planeje suas compras de forma fácil com a nossa
                                ferramenta.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-sm-6 mx-2 my-2">
                        <i class="fas fa-calculator fa-6x text-center mt-5"></i>
                        <div class="card-body">
                            <h5 class="card-title">Economia</h5>
                            <p class="card-text">Economize nas suas compras relizando o planejamento com antecedência.
                            </p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-sm-6 mx-2 my-2">
                        <i class="fas fa-tasks fa-6x text-center mt-5"></i>
                        <div class="card-body">
                            <h5 class="card-title">Orçamento</h5>
                            <p class="card-text">Realize o orçamento da sua compra de forma fácil com a nossa
                                ferramenta.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div id="container-depoimentos" class="row">
                <h2 class="text-center pt-5">DEPOIMENTOS</h2>
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center p-5">
                            <img src="../img/john_wick.jpg" class="img-carousel" alt="...">
                            <figcaption class="fs-4 fw-bold">John</figcaption>
                            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ex officiis
                                saepe
                                consectetur ullam architecto quae consequatur quisquam, perspiciatis maxime corporis
                                sequi
                                et in magnam exercitationem inventore commodi fugit quam?</p>
                        </div>
                        <div class="carousel-item text-center p-5">
                            <img src="../img/zeca.jpg" class="img-carousel" alt="...">
                            <figcaption class="fs-4 fw-bold">Zeca</figcaption>
                            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maiores
                                commodi
                                cum aliquid
                                eum minus iste ipsa, libero quos eligendi expedita est nulla et id ex reprehenderit
                                cupiditate molestiae tempora.</p>
                        </div>
                        <div class="carousel-item text-center p-5">
                            <img src="../img/monalisa.png" class="img-carousel" alt="...">
                            <figcaption class="fs-4 fw-bold">Monalisa</figcaption>
                            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maiores
                                commodi
                                cum aliquid
                                eum minus iste ipsa, libero quos eligendi expedita est nulla et id ex reprehenderit
                                cupiditate molestiae tempora.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="my-5 d-flex flex-wrap align-items-center justify-content-center">
                    <div class="col-lg-3 col-sm-12">                        
                        <figure>
                            <img src="../img/undraw_empty_cart_co35.svg" alt="Carrinho de compras"
                                class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-lg-6 col-sm-8">
                        <h2 class="text-center">Não perca tempo! Comece agora a utilizar a nossa ferramenta!</h2>
                        <div class="d-grid col-6 gap-2 mx-auto mt-3">
                            <a  class="btn btn-dark fw-bold" href="index.html">Começar</a> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-center p-3">
        <div class="row">
            <div class="col-12">
                <p>
                    2021 - SerratecMKT - Todos direitos reservados
                </p>
            </div>
            <div class="col-12">
                <a class="m-3 text-decoration-none" href=""><i class="fab fa-instagram fa-2x"></i></a>
                <a class="m-3 text-decoration-none" href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
                <a class="m-3 text-decoration-none" href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                <a class="m-3 text-decoration-none" href=""><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>
        </div>       
    </footer>
    <script src="../js/loader.js"></script>
</body>

</html>